:root{
  --colordark : #106e5a;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden; 
}

.sidenav{
  position: absolute;
  background-color: var(--colordark) ;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 8;
  padding: 8em 0rem ;
  margin-left: 0vw;
  transition: all 1s;
}
.nav_item{
  height: 10vh;
  text-align: center;
  font-weight: 700;
  font-size: 2.5em;
  color: #ffffff;
  padding-inline: 0.3rem;
  overflow:visible;
  transition: all;
  transition-duration: 4s;
 
}
.nextlink{
  text-decoration: none;
}
.nav_item:hover{
  border-bottom: #ffffff solid 5px;
}

.nav_item:hover::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 5px;
  background-color: aliceblue ;
  rotate: 90deg;
  /* transform: translateX(20px); */
  /* transform: translateY(0px); */
}

.hamburger svg{
  position: absolute;
  top: 5px;
  left: 5px;
  aspect-ratio: 1/1;
  padding: 0.4rem;
  z-index: 10;
  display: block;
  transition: all 1s;
}


svg line {
  transition: all 500ms; 
  transform-origin: center;
}
svg:hover .line1 {
  transform: translateY(25%);
  rotate: 45deg;
}
svg:hover .line3 {
  transform: translateY(-25%);
  rotate: -45deg;
} 
svg:hover .line2 {
  opacity: 0;
} 

.container{
  height: 100vh;
  background-color: black;
}


.myphoto{
  height: 500px;
  width: 500px;
}